.headerDiv {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
  padding: 20px 70px;
  box-sizing: border-box; 
}

.headNameDiv {
  display: flex;
  flex-direction: column;
}

.headContentDiv {
  display: flex;
  flex-direction: row;
  gap: 70px; /* Adjust gap to ensure content fits within the screen */
  align-items: center;
  margin-left: auto; /* Pushes the headContentDiv to the rightmost side */
  padding-right: 20px;
}

.menu-toggle{
  display: none;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  padding: 0px 70px;
  padding-right: 5%;
  gap: 40px;
  margin-top: 100px;
}

/* Styles for mobile version */
@media (max-width: 768px) {
  .headerDiv {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .headContentDiv {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .headContentDiv a {
    padding: 10px;
    text-align: left;
  }

  .headerDiv.active .headContentDiv {
    display: flex;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    margin-left: auto;
  }

  .bodyDiv {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 40px;
    margin-top: 100px;
  }

}

.section {
  padding-top: 0px;
}

.aboutResumeDownloadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.aboutResumeViewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-height: 80%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.resume-iframe {
  width: 100%;
  height: 80%;
  border: none;
}

.introDiv {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  gap: 20px;
}

.sectionBodyDiv {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding: 30px 40px;
  gap: 0px;
  
}

.experienceDivMoreInfo {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 10px;
}

.experienceDivMoreInfo span::before {
  content: '•';
  position:initial;
  padding-right: 3%;
}


.expandDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.collapseDiv{
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.projectDivContents {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectDivEle{
    padding: 30px 20px;
}

.educationDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.educationDivContents{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.educationDivContent{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.educationDivEleHead {
    /* padding: 30px 15% 30px 5%; */
    /* padding: 30px 0% 30px 5%; */
    padding: 20px 0% 20px 3%;
    justify-content: center;
    height: 100px;
    width: 200px;
}

.educationDivEleClg{
    /* padding: 30px; */
    padding: 30px 10% 30px 10%;
    justify-content: center;
    height: 100px;
    width: 300px;
}

.educationDivEleMarks {
    /* justify-content: flex-end; */
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 200px;
    margin-left: auto;
    padding: 20px 5% 20px 0%;
}

.edcationDivMarksBox {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
     
}

.skillsDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skillsDivContents{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
}

.skillContent{
    gap: 20px;
    height: 200px;
    width: 100%;
    padding: 2% 3%;
    justify-content: center;
    border-radius: 10px;
}

.skillContentName{
  gap: 30px;
  width: 80px;
}

.skillContentLevel {
  flex: 1;
  display: flex;
  padding: 0px 0px 0px 7%;
  justify-content: center;
  align-items: center;
}

.skillLevelBox {
  width: 100%;
  height: 7px;
  background: #181717;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.skillLevelBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff45a;
  width: calc(var(--level) * 20%);
}

.skillLevelBox[data-level="1"]::before {
  --level: 1;
}

.skillLevelBox[data-level="2"]::before {
  --level: 2;
}

.skillLevelBox[data-level="3"]::before {
  --level: 3;
}

.skillLevelBox[data-level="4"]::before {
  --level: 4;
}

.skillLevelBox[data-level="5"]::before {
  --level: 5;
}

.contactAndProfileDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contactDiv{
  width: 100%;
  height: 400px;
}

.profileDiv{
  width: 100%;
  height: 400px;
}

.contactDivContents{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center ;
  align-items: center;
}

.contactDivContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 5% 5%;
}

.contactDivBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 10px;
  background-color: rgb(79, 153, 82);
  border-radius: 10px;
  /* color: black; */
}

.profileDivContents{
  display: flex;
  height: 90%;
  justify-content: center;
  padding: 0px 0px;
  margin-top: 0px;

}

.profileDivContent{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.profileImg{
  display: flex;
  gap: 20px;
}

.profilePic {
  width: 50px;
  height: 50px;
}

.profilePic svg{
  fill: aliceblue;
}

.profileName{
  display: flex;
  align-items: center;
}

.tickMark {
  display: none;
  margin-left: 10px;
}

.profileCopySVG {
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer {
  background-color: #333; 
  color: white; 
  padding: 20px 0; 
  text-align: center; 
  position: relative; 
  width: 100%; 
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerText {
  margin-bottom: 10px; 
}

@media (max-width: 768px) {
  .footer {
      padding: 10px 0;
  }

  .footerText {
      margin-bottom: 5px;
  }
}