html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    margin-bottom: 50px;
    
}

.custom-cursor {
    cursor: none;
  }

.cursor {
    width: 20px;
    height: 20px;
    border: 5px solid white;
    position: fixed;
    transition: 0.1s;
    transform: translate(-50%, -50%); 
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}

.cursor-trail {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: fixed;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9998;
  }

.color-1 {
    color: white;
}

.link-1 a {
    text-decoration: none;
    color: white;
}

.btn-1 {
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* .btn-1:hover {
    background-color: white;
    color: black;
} */

.bg-1 {
    background-color: black;
}

.bg-2 {
    background-color: #171717;
}

.bg-3 {
    background-color: #3C3C3C;
}

.bg-4 {
    background-color: #773D3D;
}

.bg-5 {
    background-color: #6B8754;
}

.bg-6 {
    background-color: #416478;
}

.bg-7 {
    background-color: #6B407A;
}

.fontsize-1 {
    font-size: x-large;
}

.fontsize-2 {
    font-size: 40px;
}

.fontsize-3 {
    font-size: 28px;
}

.fontsize-4 {
    font-size: 15px;
}

.fontsize-5 {
    font-size: 20px;
}

.fontsize-6 {
    font-size: 25px;
}

.fontsize-7 {
    font-size: 13px;
}

.italic-1 {
    font-style: italic;
}

.bold-1 {
    font-weight: bold;
}

.border-1 {
    border: 1px solid black;
}

.border-radius-1 {
    border-radius: 10px;
}

.paddingtop-1 {
    padding-top: 20px;
}

.svg-1 {
    width: 20px;
    height: 20px;
}

.mosey-1 {
    cursor: pointer;
}

.makerow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

@media (max-width: 768px) {
    .makerow {
        flex-wrap: wrap;
    }
}


.makecolumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-1 {
    object-fit: cover;
    width: 200px;
    height: 175px;
    border-radius: 10px;
}